* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #76a6d6, transparent);
  padding: 1px;
  overflow: hidden;
}

.clock {
  padding: 1px;

}

.clockdisplay {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(108, 159, 175);
  margin-top: 5%;
}

.container {
  padding: 5%;
  margin-top: 10%;
}

.clock-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #0b0f13;

}